html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun";
  color: #31616e;
  background-color: #ecebec;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 12vmin;
  justify-content: center;
}

@media (max-width: 520px) {
  .title {
    font-size: 4rem;
  }

  .source {
    display: none !important;
  }
}

#image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.camera-icon {
  margin-top: 23%;
  height: 50px;
  width: 50px;
}

.button {
  cursor: pointer;
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  background-color: #49c6ed;
  border-radius: 50%;
  box-shadow: 0px 3px 10px #888;
}

.button-apple-or-not {
  cursor: pointer;
  padding: 20px;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-radius: 999px;
  box-shadow: 0px 3px 10px #888;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.source {
  display: block;
}

/* Loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #31616e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
